<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        
    </head>
    <body>
       {{>header}}
        <form id='form'>
            <input placeholder="word" id="input1">
            <button id="button1">Submit</button>
        </form>
        <p1 id='p1'></p1>

        {{>footer}}
        <script type="text/javascript" src="../js/app.js"></script>
    </body>
</html>